/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-family: Roboto, sans-serif;
}

.app-border-radius {
    border-radius: 2.5px;
}

.flex {
    display: flex;

    &-column {
        flex-direction: column;
    }
}

.text {
    &-center {
        text-align: center;
    }
}